body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea ,em,i,figure{ padding:0; margin:0;  font-weight: normal;font-style: normal;font-size: 100%; font-family:"微软雅黑",Arial, Helvetica, sans-serif; }
ol, ul ,li{list-style: none;}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}
img {border:0;margin:0;padding:0; display:inline-block;vertical-align: middle;}
a{text-decoration:none; cursor:pointer; color:#0362a7;}
.clear{clear:both;}
.fl{ float:left;}
.fr{ float:right;}
div,span,a{ word-wrap: break-word; word-break: normal; word-break:break-all;}
/*input[disabled], select[disabled], textarea[disabled], input[readonly],  textarea[readonly] {background: #eee; cursor:not-allowed;}*/
.text_left {text-align: left;}
.text_right {text-align: right;}
.text_center {text-align: center;}
/*.transition,a{ transition:all linear 0.3s;-moz-transition:all linear 0.3s;-ms-transition:all linear 0.3s;-o-transition:all linear 0.3s;-webkit-transition:all linear 0.3s;}*/
.clearfix{ zoom:1; position:relative; overflow:hidden; display:block;}
.clearfix:after{ content:" "; position:absolute; width:0px; height:0px; clear:both;}
/**/
.container{width: 1200px;margin:0 auto;}
.section { width: 100%; min-width: 1200px; overflow: hidden; position: relative; }
.section1 { height: 1080px; }
.section1 .flash { position: absolute; width: 1920px; height: 1080px; left: 50%; bottom: 0; margin-left: -960px; }
.section1 .flash .logo { position: absolute; left: 324px; top: 70px; }
.section1 .flash .slogan { position: absolute; top: 378px; left: 50%; width: 540px; height: 273px; margin-left: -270px;
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    opacity: 0
}
.section1 .slogan.slogan1 {
    background: url(../images/slogan1.png) no-repeat;
    -webkit-transform: translate3d(-400px,0,0);
    -moz-transform: translate3d(-400px,0,0);
    -ms-transform: translate3d(-400px,0,0);
    -o-transform: translate3d(-400px,0,0);
    transform: translate3d(-400px,0,0)
}

.section1 .slogan.slogan2 {
    background: url(../images/slogan2.png) no-repeat;
    -webkit-transform: translate3d(400px,0,0);
    -moz-transform: translate3d(400px,0,0);
    -ms-transform: translate3d(400px,0,0);
    -o-transform: translate3d(400px,0,0);
    transform: translate3d(400px,0,0)
}
.section1 .slogan.show {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}
.section1 .flash .huanyin { width: 472px; height: 51px; background: url(../images/text.png) no-repeat; position: absolute; top: 644px; left: 50%; margin-left: -250px; }
.section1 .flash .down { width: 340px; height: 170px; background: url(../images/bg.png) no-repeat; position: absolute; top: 758px; left: 50%; margin-left: -170px; text-align: center; padding-top: 20px; box-sizing: border-box; }
.section2 { height: 807px; }
.section2 .flash { position: absolute; width: 1920px; height: 808px; left: 50%; bottom: 0; margin-left: -960px; }
.section2 .lunbo { position: absolute; width: 1078px; height: 488px; left: 50%; bottom: 133px; margin-left: -526px; background: url(../images/2bg.jpg) no-repeat center; }
.section3 { height: 805px; }
.section3 .flash { position: absolute; width: 1920px; height: 808px; left: 50%; bottom: 0; margin-left: -960px; }
.section3 .lunbo { position: absolute; width: 1078px; height: 488px; left: 50%; bottom: 133px; margin-left: -526px; background: url(../images/3bg.jpg) no-repeat center; }
.section4 { height: 808px; }
.section4 .flash { position: absolute; width: 1920px; height: 808px; left: 50%; bottom: 0; margin-left: -960px; }
.section4 .lunbo { position: absolute; width: 1078px; height: 488px; left: 50%; bottom: 133px; margin-left: -526px; background: url(../images/3bg.jpg) no-repeat center; }
.footer { width: 100%; height: 496px; background: url(../images/footer.jpg) no-repeat center; position: relative; }
.footer p { text-align: center; font-size: 12px; color: #5f5f5f; position: relative; top: 425px; }
.right-nav {
	position: fixed;
    right: 40px;
    width: 44px;
    height: 370px;
    top: 50%;
    margin-top: -247px;
    z-index: 99;
    opacity: 0;
    -webkit-transform: translate3d(100px,0,0);
    -moz-transform: translate3d(100px,0,0);
    -ms-transform: translate3d(100px,0,0);
    -o-transform: translate3d(100px,0,0);
    transform: translate3d(100px,0,0);
    -webkit-transition: all .6s ease-in-out;
    -moz-transition: all .6s ease-in-out;
    -ms-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out
}

.right-nav.show {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    opacity: 1
}

.right-nav .line {
	position: absolute;
    top: 2px;
    right: 21px;
    width: 2px;
    height: 370px;
    background: #e8b471
}

.right-nav .nav-list {
    width: 44px;
    height: 370px;
    right: 0;
    top: 0
}

.right-nav .nav-list .nav {
    position: absolute;
    width: 44px;
    height: 44px;
    right: 0
}

.right-nav .nav-list .nav .icon {
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    height: 44px
}

.right-nav .nav-list .nav .txt {
    position: absolute;
    width: 116px;
    height: 42px;
    right: 22px;
    top: 1px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translate3d(10px,0,0);
    -moz-transform: translate3d(10px,0,0);
    -ms-transform: translate3d(10px,0,0);
    -o-transform: translate3d(10px,0,0);
    transform: translate3d(10px,0,0);
    opacity: 0;
    visibility: hidden
}

.right-nav .nav-list .nav.nav1 {
    top: 0
}

.right-nav .nav-list .nav.nav1 .icon {
    background: url(../images/r_btn1_659465e.png) no-repeat
}

.right-nav .nav-list .nav.nav1 .txt {
    background: url(../images/index.png) no-repeat
}

.right-nav .nav-list .nav.nav2 {
    top: 92px
}

.right-nav .nav-list .nav.nav2 .icon {
    background: url(../images/r_btn5_0241f1d.png) no-repeat
}

.right-nav .nav-list .nav.nav2 .txt {
    background: url(../images/zhuangbei.png) no-repeat
}

.right-nav .nav-list .nav.nav3 {
    top: 184px
}

.right-nav .nav-list .nav.nav3 .icon {
    background: url(../images/r_btn4_6487b37.png) no-repeat
}

.right-nav .nav-list .nav.nav3 .txt {
    background: url(../images/tese.png) no-repeat
}

.right-nav .nav-list .nav.nav4 {
    top: 276px
}

.right-nav .nav-list .nav.nav4 .icon {
    background: url(../images/r_btn2_65cb8c9.png) no-repeat
}

.right-nav .nav-list .nav.nav4 .txt {
    background: url(../images/gongneng.png) no-repeat
}

/*.right-nav .nav-list .nav.nav5 {
    top: 368px
}

.right-nav .nav-list .nav.nav5 .icon {
    background: url(../images/r_btn1_659465e.png) no-repeat
}

.right-nav .nav-list .nav.nav5 .txt {
    background: url(../images/r_btn1_659465e.png) no-repeat
}*/

.right-nav .nav-list .nav.nav6 {
    top: 368px
}

.right-nav .nav-list .nav.nav6 .icon {
    background: url(../images/r_top_83d7ee8.png) no-repeat
}

.right-nav .nav-list .nav:hover .txt,.right-nav .nav-list .nav.cur .txt {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0)
}
.dg-container{
    width: 100%;
    height: 450px;
    position: relative;
}
.dg-wrapper{
    width: 481px;
    height: 316px;
    margin: 0 auto;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    -o-perspective: 1000px;
    -ms-perspective: 1000px;
    perspective: 1000px;
}
.dg-wrapper a{
    width: 482px;
    height: 316px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent url(../images/browser.png) no-repeat top left;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
    display: block;
    width: 100%;
    padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
    font-style: italic;
    text-align: center;
    line-height: 50px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    color: #333;
    font-size: 16px;
    width: 100%;
    bottom: -55px;
    display: none;
    position: absolute;
}
.dg-wrapper a.dg-center div{
    display: block;
}
/*.dg-container nav{
    width: 58px;
    position: absolute;
    z-index: 1000;
    bottom: 40px;
    left: 50%;
    margin-left: -29px;
}*/
.dg-container nav span{
    text-indent: -9000px;
    /*float: left;*/
    cursor:pointer;
    width: 51px;
    height: 66px;
    opacity: 0.8;
    position: absolute;
    top: 50%; margin-top: -33px;
}
.dg-container nav span:hover{
    opacity: 1;
}
.dg-container nav span.dg-prev{
    background: transparent url(../images/arrow5_left_8bcd540.png) no-repeat center;
    margin-left: 10px;left: 45px;
}
.dg-container nav span.dg-next{
    background: transparent url(../images/arrow5_right_c4a4fac.png) no-repeat center;
    margin-left: 10px;right: 45px;
}
.swiper-container { width: 100%; height: 100%; }
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { margin: 0 !important; }
.swiper-pagination-bullet { width: 78px !important; height: 77px !important; opacity: 1.0 !important; }
.swiper-pagination-bullet:nth-of-type(1) { background-image: url(../images/1.png); }
.swiper-pagination-bullet:nth-of-type(2) { background-image: url(../images/2.png); }
.swiper-pagination-bullet:nth-of-type(3) { background-image: url(../images/3.png); }
.swiper-pagination-bullet:nth-of-type(4) { background-image: url(../images/4.png); }
.swiper-pagination-bullet:nth-of-type(5) { background-image: url(../images/5.png); }
.swiper-pagination-bullet:nth-of-type(6) { background-image: url(../images/6.png); }
.swiper-pagination-bullet:nth-of-type(7) { background-image: url(../images/7.png); }
.swiper-pagination-bullet:nth-of-type(8) { background-image: url(../images/8.png); }
.swiper-pagination-bullet:nth-of-type(9) { background-image: url(../images/9.png); }
.swiper-pagination-bullet:nth-of-type(10) { background-image: url(../images/10.png); }
.swiper-container1 .swiper-pagination-bullet:nth-of-type(1) { background-image: url(../images/2-1.png); }
.swiper-container1 .swiper-pagination-bullet:nth-of-type(2) { background-image: url(../images/2-2.png); }
.swiper-container1 .swiper-pagination-bullet:nth-of-type(3) { background-image: url(../images/2-3.png); }
.swiper-container1 .swiper-pagination-bullet:nth-of-type(4) { background-image: url(../images/2-4.png); }
.swiper-container1 .swiper-pagination-bullet:nth-of-type(5) { background-image: url(../images/2-5.png); }
.swiper-container1 .swiper-pagination-bullet:nth-of-type(6) { background-image: url(../images/2-6.png); }
.swiper-container2 .swiper-pagination-bullet:nth-of-type(1) { background-image: url(../images/3-1.png); }
.swiper-container2 .swiper-pagination-bullet:nth-of-type(2) { background-image: url(../images/3-2.png); }
.swiper-container2 .swiper-pagination-bullet:nth-of-type(3) { background-image: url(../images/3-3.png); }

.swiper-container3 .swiper-pagination-bullet:nth-of-type(1) { background-image: url(../images/4-1.png); }
.swiper-container3 .swiper-pagination-bullet:nth-of-type(2) { background-image: url(../images/4-2.png); }
.swiper-container3 .swiper-pagination-bullet:nth-of-type(3) { background-image: url(../images/4-3.png); }
.swiper-container3 .swiper-pagination-bullet:nth-of-type(4) { background-image: url(../images/4-4.png); }
.swiper-container4 .swiper-pagination-bullet:nth-of-type(1) { background-image: url(../images/5-1.png); }
.swiper-container4 .swiper-pagination-bullet:nth-of-type(2) { background-image: url(../images/5-2.png); }
.swiper-container4 .swiper-pagination-bullet:nth-of-type(3) { background-image: url(../images/5-3.png); }
.swiper-container4 .swiper-pagination-bullet:nth-of-type(4) { background-image: url(../images/5-4.png); }
.swiper-container4 .swiper-pagination-bullet:nth-of-type(5) { background-image: url(../images/5-5.png); }
.swiper-container5 .swiper-pagination-bullet:nth-of-type(1) { background-image: url(../images/6-1.png); }
.swiper-container5 .swiper-pagination-bullet:nth-of-type(2) { background-image: url(../images/6-2.png); }
.swiper-container5 .swiper-pagination-bullet:nth-of-type(3) { background-image: url(../images/6-3.png); }
.swiper-container5 .swiper-pagination-bullet:nth-of-type(4) { background-image: url(../images/6-4.png); }
.swiper-container5 .swiper-pagination-bullet:nth-of-type(5) { background-image: url(../images/6-5.png); }
.swiper-container5 .swiper-pagination-bullet:nth-of-type(6) { background-image: url(../images/6-6.png); }
.swiper-container1 .swiper-pagination-fraction, .swiper-container1 .swiper-pagination-custom, .swiper-container1.swiper-container-horizontal > .swiper-pagination-bullets { top: 10px; }
.swiper-container2 .swiper-pagination-fraction, .swiper-container2 .swiper-pagination-custom, .swiper-container2.swiper-container-horizontal > .swiper-pagination-bullets { top: 10px; }
.swiper-container3 .swiper-pagination-fraction, .swiper-container3 .swiper-pagination-custom, .swiper-container3.swiper-container-horizontal > .swiper-pagination-bullets { top: 10px; }
.swiper-container4 .swiper-pagination-fraction, .swiper-container4 .swiper-pagination-custom, .swiper-container4.swiper-container-horizontal > .swiper-pagination-bullets { top: 10px; }
.swiper-container5 .swiper-pagination-fraction, .swiper-container5 .swiper-pagination-custom, .swiper-container5.swiper-container-horizontal > .swiper-pagination-bullets { top: 10px; }
.zb1 { position: absolute; left: 192px; z-index: 2; }
.sz1 { position: absolute; left: 223px; top: 82px; z-index: 2; }
.zb2 { position: absolute; right: 190px; top: 70px; }
.lun_line { position: absolute; bottom: 44px; z-index: 1; }
.lun_right { position: absolute; right: 260px; top: 146px; }
.tab img { z-index: 9999; cursor: pointer; }

.tab .shen .img1 { position: absolute; top: 76px; right: 164px; }
.tab .shen .img2 { position: absolute; top: 76px; right: 164px; display: none; }
.tab .hun .img1 { position: absolute; top: 157px; right: 187px; }
.tab .hun .img2 { position: absolute; top: 157px; right: 187px; display: none; }
.tab .shou .img1 { position: absolute; top: 246px; right: 187px; }
.tab .shou .img2 { position: absolute; top: 246px; right: 187px; display: none; }
.tab .guan .img1 { position: absolute; top: 320px; right: 174px; }
.tab .guan .img2 { position: absolute; top: 320px; right: 174px; display: none; }
.tab .qi .img1 { position: absolute; top: 392px; right: 150px; }
.tab .qi .img2 { position: absolute; top: 392px; right: 150px; display: none; }
